/* FIXME: Oh, please god, this is now how we should style calendar */

:root {
  /* --fc-border-color: black; */
  /* --fc-daygrid-event-dot-width: 5px; */
}

.fc {
  font-size: 0.8em;
  .fc-toolbar-title {
    font-size: 1.3em;
  }

  .fc-button {
    border-color: rgb(255, 255, 255);
  }
  .fc-button-primary:not(:disabled).fc-button-active,
  .fc-button-primary:not(:disabled):active {
    background-color: rgb(25, 118, 210);
    border-color: rgb(255, 255, 255);
  }

  th {
    font-weight: 500;
  }
}
